.home-container {
  background-color: rgb(227, 237, 252);
  font-family: cursive, "Lucida Handwriting", sans-serif;
  text-align: center;
  margin: 4% auto;
  max-width: 800px; 
  padding: 20px; 
  border-radius: 20px;
}

.home-title {
  background-color: rgb(227, 237, 252);
  font-family: cursive;
  font-size: 32px; 
  color: #336699;
  padding: 10px; 
}

.home-description {
  background-color: rgb(227, 237, 252);
  font-family: cursive;
  font-size: 18px;
  color: #336699;
  margin-top: 20px;
  padding: 30px;
}
